body {
  background-color: rgb(238, 247, 247);
}
a {
  color: #885df1;
}

.weather-app {
  background-color: white;
  max-width: 600px;
  margin: 30px auto;
  padding: 30px;
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  border-bottom: 1px solid #f9f7fe;
  padding: 0 0 30px 0;
}

.search-input {
  background-color: #f9f7fe;
  border: none;
  border-radius: 9px;
  width: 300px;
  font-size: 15px;
  padding: 15px 20px;
}

.submit-button {
  background: #885df1;
  padding: 15px 20px;
  margin-left: 5px;
  border: none;
  border-radius: 6px;
  color: white;
  font-size: 16px;
}

main {
  padding: 30px 0;
}

.app-city {
  margin: 0;
  font-size: 38px;
  line-height: 48px;
}

.app-details {
  font-size: 16px;
  line-height: 20px;
}

.app-details strong {
  color: #f65282;
}

.weather-app-temp {
  display: flex;
}

.weather-app-value {
  font-size: 80px;
  font-weight: bolder;
}

.weather-app-icon {
  font-size: 44px;
  margin-top: 19px;
}

.degrees {
  font-size: 20px;
  margin-top: 16px;
}

.app-data {
  display: flex;
  justify-content: space-between;
}

footer {
  border-top: 1px solid #f9f7fe;
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 14px;
  color: rgba(0, 0, 0, 0, 6);
}
